/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

header .titulo {
  color: white;
}

header nav {
  margin-left: auto;
}

header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

header a {
  color: aliceblue;
  text-decoration: none;
}

.titulo {
  display: flex;
  height: 50px;
  align-items: center;
  margin-left: 20px;
  color: white;
}

.textotitulo {
  display: flex;
  margin-top: 40px;
  text-align: center;
}

